Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<% @job.tags.each do |tag| %>
<p><%= tag.name %> - <%= tag.job_count %> - <%= tag.avg_job_salary %> </p>
<% end %>


Job : Developer
Tags: Software - 5 (100000), Good-Location - 9 (75000)
