Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<ul>
  <% @job.tags.each do |tag| %>
  <li> Title: <%= tag.title %></li>
  <li> Jobs with this tag: <%= tag.jobs.count %>
  <li> Average salary: <%= number_to_currency(tag.average_salary)%></li>
  <% end %>
</ul>
