Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %><br>

Tags:
<ul>
  <% @job.tags.each do |tag| %>
  <li>
    <%= tag.name %> <br>
    Number of jobs with this tag: <%= tag.job_count %>
  </li>
  <% end %>
</ul>
