Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

Tags:
<% @tags.each do |tag| %>
  <h3><%= tag.title %></h3>
  <p>Jobs with this tag (<%= tag.job_count %>)<p>
  <p>Average salary for jobs with this tag: $<%= tag.average_salary %></p>
<% end %>
