Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

Tags: <% @job.tags.each do |tag| %>
<ul>
  <li><%= tag.name %></li>
  <li>There are <%= tag.jobs.count %> jobs with this tag</li>
  <li>The average salary for jobs with this tag is $<%= tag.get_average %></li>
</ul>
<% end %>
