Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Tags:
<% @job.tags.uniq.each do |tag| %>
  <span><%= tag.name %> - (<%= tag.count %>)</span>
<% end %></br>


Company: <%= link_to @job.company.name, company_path(@job.company) %>
