<p>Title: <%= @job.title %></p>
<br>

<p>Description: <%= @job.description %></p>
<br>

<p>Level of Interest: <%= @job.level_of_interest %></p>
<br>

<p>City: <%= @job.city %></p>
<br>

<p>Company: <%= link_to @job.company.name, company_path(@job.company) %></p>
  <ul><h1>Tags:</h1>
    <% @job.tags.each do |tag| %>
      <li><%= tag.name %>-</li>
      <p>Jobs with Tag: <%= JobTag.where(tag_id: tag).count %></p>
      <p>Job Tag Average Salary: $<%= Job.average_salary(tag.id) %></p>
    <% end %>
  </ul>
