<p>Title: <%= @job.title %></p>
<br>

<p>Description: <%= @job.description %></p>
<br>

<p>Level of Interest: <%= @job.level_of_interest %></p>
<br>

<p>City: <%= @job.city %></p>
<br>

<p>Company: <%= link_to @job.company.name, company_path(@job.company) %></p>
  <ul>
    <% @job.tags.each do |tag| %>
      <li><%= tag.name %></li>      
    <% end %>
  </ul>
