Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

<% unless @tags.nil? %>
  <% @tags.each do |tag| %>
    <p><%= tag.name %></p>
    <p># of Jobs: <%= tag.jobs.count %></p>
    <p>Average Salary: <%= tag.jobs.average(:salary) %></p>
  <% end %>
<% end %>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
