Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<p>Add a Tag</p>

<%= form_for [@job.company, @job] do |f| %>
  <%= f.label :tags %>
  <%= f.collection_select(:tag_ids, Tag.all, :id, :name) %>

  
<% end %>

<p>Tags:</p>
<ul>
  <% @job.tags.each do |tag| %>
    <li><%= "#{tag.name} - #{tag.total_jobs} (#{tag.average_job_salary})"%> </li>
  <% end %>
</ul>
