Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br>

Tags:
<ul>
<% @job.tags.each do |tag| %>
  <li><%= link_to("#{tag.title}", company_job_tag_path(@job, tag)) %> - <%= @job.tags.count %> - (<%= tag.avg_salary %>)</li>
<% end %>
</ul>