<div align="center">

  Title: <%= @job.title %>
  <br>

  Description: <%= @job.description %>
  <br>

  Level of Interest: <%= @job.level_of_interest %>
  <br>

  City: <%= @job.city %>
  <br>

  Company: <%= link_to @job.company.name, company_path(@job.company) %></br>

  <% @job.taggings.each do |tag| %>
    Tag: <%= tag.tag.title  %>
    Count: <%= tag.tag.tag_count %>
    <% end  %>



</div>
