Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<table>
  <tr>
    <th>Job Tag</th>
    <th>Job Count</th>
  </tr>
  <tr>
    <% @job.tags.each do |tag| %>
       <td><%= tag.name %></td>
       <td><%= Tag.find(tag.id).jobs.count %></td>
       <td><%= Tag.find(tag.id).jobs.average(:salary) %></td>
    <% end %>
  </tr>
</table>
