Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %><br/>

Tags:
<% @tags.each do |tag| %>
  <p><%= tag.title %> - <%= tag.jobs.count %> ("<%= Tag.average_salary(tag) %>")</p>
<% end %>
